{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
</head>
<body>
<div id="webchat"></div>
<script src="https://cdn.jsdelivr.net/npm/rasa-webchat@0.11.5/lib/index.min.js"></script>
<script>
  WebChat.default.init({
    selector: "#webchat",
    initPayload: "/get_started",
    customData: {"language": "en"}, // arbitrary custom data. Stay minimal as this will be added to the socket
    socketUrl: "http://127.0.0.1:5005",
    socketPath: "/socket.io/",
    title: "Nebot",
    profileAvatar:"./netbot.JPG",
    hideWhenNotConnected:false,
    subtitle: "AI Networking Assistant",
    params: {"storage": "session"} // can be set to "local"  or "session". details in storage section.
  })
</script>
</body>

      
</html>
>